<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Page</title>
</head>
<body>
  
  <h1>Edit Courses</h1>

<form action="">
  <span><%= course.capacity %></span>
  <input type="number">
 
  <input type="text">
  <span><%= course.capacity %></span>
  <input type="text">
  <span><%= course.category %></span>
  <input type="text">
  <span><%= course.courseLength %></span>
  <input type="text">
  <p><%= course.description %></p>
</form> 

<script src="edit.js"></script>
</body>
</html>