<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/edit.css">
  <title>Edit Page</title>
</head>
<body>
    
  <header>
    <a href="/teacherPage" class="btn btn-default btn-sm">Return to Dashboard</a>
  </header>

  <h1>Edit Courses</h1>

  <section class="form">
  <% for(let i=0; i<courses.length; i++) { %>


<!-- <form action="/edit" method="PUT"> -->

  <p>Category:<%= courses[i].category %></p>
  <input type="text" class="formInput" name="category">

  <p>Capacity:<%= courses[i].capacity %></p>
  <input type="text"class="formInput" name="capacity">

  <p>Course Length:<%= courses[i].courseLength %></p>
  <input type="text"class="formInput" name="courseLength">

  <p>Description:<%= courses[i].description %></p>
  <input type="text"class="formInput" name="description">
  
  <div class="right">
     <textarea class="formInput name="checklist">Checklist:<%= courses[i].checklist %></textarea>
  
</div>
  
  <button id="submit" data-id="<%= courses[i]._id%>">Save Edit</button>
<!-- </form>  -->
<% } %>

</section>

<script src="/edit.js"></script>
</body>
</html>

